canvas {
  display: block;
  margin: 0 auto;
}
body{
  margin: 0;
}
.gameWrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #0e4f1e;
}
.game{
  position: relative;
  background-image: url(../img/ground.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 608px;
  height: 607px;
}
@media (max-width: 608px) {
  .game{
    width: 100%;
    aspect-ratio: 608/607;
    height: auto;
  }
  canvas{
    width: 100%;
    margin: 0;
  }
}
.game .game-canvas{
  position: absolute;
  /* top: 95px;
  left: 32px; */
  top: 15.7%;
  left: 5.27%;
  width: 89.5%;
}

.controls__button{
  border: none;
  padding: 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.game .game-canvas .controls{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.controls__left, .controls__right{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.controls__right{
  left: 50%;
}
.controls__up, .controls__down{
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.controls__down{
  top: 50%;
}

.game #score{
  position: absolute;
  top: 3.8%;
  left: 11.85%;
  font-size: clamp(18px, 5vw, 28px); 
  color: white;
  font-family: sans-serif;
  font-weight: 400;
}

#autopilot_button{
  padding: 4px 8px;
  position: absolute;
  top: 3.8%;
  right: 5.25%;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-window{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
}
.score-block{
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #B6C9D8 0%, #B6C9D8 20%, #1687b3 100%);
}
.score-block img{
  width: 90%;
}
.score-data{
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}
.score-data span{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  color: white;
  font-family: sans-serif;
  font-weight: 400;
}
.score-data span img{
  width: 60px;
  height: 60px;
}