body{
    background-color: #131313;
}

*{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    height: 100px;
    display: flex;
    align-items: center;
}
.navbar-nav{
    max-width: 575px;
    width: 100%;
    justify-content: space-between;
}
.nav-link{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF !important;
}
.nav-link.active{
    color: #D5FF3F !important;
}

.portfolio-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    row-gap: 32px;
    column-gap: 34px;
}
@media (max-width: 991.98px) {
    .portfolio-list{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 767.98px) {
    .portfolio-list{
        grid-template-columns: 1fr;
    }
}
.portfolio-card{
    background-color: #161B22;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}
.portfolio-card__cover{
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.portfolio-card__bottom{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #fff;
    padding: 0 52px 32px 21px;
}
.portfolio-card__title{
    font-weight: 700;
    font-size: 33px;
}
.portfolio-card__subtitle{
    font-weight: 500;
    font-size: 19px;
    color: #D5FF3F;
}
.portfolio-card__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #8B949E;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.portfolio-card__frameworks{
    display: flex;
    gap: 8px;
}
.portfolio-card__frameworks img{
    height: 53px;
}
.footer{
    margin-top: 30px;
    width: 100%;
}
.footer__socials{
    display: flex;
    gap: 0;
    width: 100%;
    justify-content: center;
}
.footer .container{
    padding-top: 30px;
    padding-bottom: 29px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    background-color: #161B22;
    height: fit-content;
    border-radius: 20px 20px 0 0;
}
.footer__socials a{
    display: block;
    width: 69px;
    height: 69px;
}
.footer__socials img{
    width: 100%;
    height: 100%;
}
.footer__copyright{
    color: #fff;
    text-align: center;
}

main{
    min-height: calc(100vh - 330px);
}